body
{
	background-color : #FFFAFA;
	color : black;
	font-family : calibri;
	font-size : 18;
	line-height : 1.6em;
	margin : 0;

}

.container
{
	width : 80%;
	margin:auto;
	overflow:hidden;
}

#main-header
{
	background-color : #F0F8FF;
	color : #000000;
}

#main-header h1
{
	position : relative;
	left :  130px;
	top : 120px;
	font-size : 35px;
}

#navbar
{
	background-color : #333;
	
}

#navbar ul
{
	padding : 0;
	list-style : none;
}

 #navbar li
 {
 	display : inline;
 	padding : 10px;
 }

#navbar a
{
	text-decoration : none;
	
	font-size : 18px;
	padding-right : 15px;

}

#navbar a, a:visited, a:hover
{
	color : inherit;
	color : #FFFAFA;
	text-decoration: none;
}

#showcase
{
	/*background : url('img1.jpg');*/
	background-position : center ;
	min-height : 300px;
	text-align : center;
}

#showcase h1
{
	color : #333;
	font-size : 50px;
	line-height : 1.6em;
	padding-top : 20px;
} 

.container h1
{
	font-size: 28px;
}

.container a, a:visited, a:hover
{
	/*color : inherit;*/
	/*color : black;*/
	text-decoration: none;
}

#main
{
	float:left;
	width : 70%;
	padding : 0 30px;
	box-sizing : border-box;
}

#sidebar
{
	float : right;
	width : 45%;
	/*background : #333;*/
	color : white;
	padding : 0px;
	box-sizing : border-box;
}

#main-footer
{
	background : #333;
	color : white;
	text-align : center;
	padding : 5px 10px;
}

#circular_image 
{
  float: left;
  /*margin-left: 700px;*/
  /*margin-top: 0px;*/
  /*margin-bottom: 10px;*/
  width: 230px;
  height: 230px;
  /*border-radius: 100%;*/
  overflow: none;
  /*background-color: blue;*/
  border-radius: 50%;
}

#others a:visited, a:hover
{
	text-decoration: none;
	color : blue;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position : relative;
  left :  170px;
  top : 120px;
}

.fa : hover {
    opacity: 0.7;
    /*text-decoration: none;*/
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}




@media(max-width : 600px)
{
	#main
	{
		width : 100%;
		float : none;
		display : block;
	}
	#sidebar
	{
		width : 100%;
		float : none;
		display: block;
	}
	#circular_image 
	{
		width : 100%;
		float : none;
		display : block;
	}
	#navbar
	{
		width : 100%;
		float : none;
	}
}




